@model ConsentModel
<section class="search no-search-term">
    <div class="grid-row">
        <div class="column-full">
            <div>Consent to monitor your DAS Console Activity is required.</div>
        </div>
        <div>Do you give consent for your on-line DAS Console activity to be monitored and logged?</div>
        <a class="button" href="~/consent/granted?returnUrl=@Model.ReturnUrl">Yes</a>
        <a class="button btn-danger" href="~/consent/denied?resource=@Model.ReturnUrl">No</a>
    </div>
</section>
