@model ConsentModel
<section class="search no-search-term">
    <div class="grid-row">
        <div class="column-full">
            <div>
                <h1>User Consent</h1>
                <div>User Consent information....</div>
                <hr />
                <div>Do you give your consent?</div>
                <a class="button" href="~/consent/granted?returnUrl=@Model.ReturnUrl">Yes</a>
                <a class="button btn-danger" href="~/consent/denied?resource=@Model.ReturnUrl">No</a>
            </div>
        </div>
    </div>
</section>
