 <hr />
<div>All of the actions you take within the DAS Support console are logged.</div>
<div>Some actions are monitored and processed in real time to support the security of the data held within DAS.</div>
<div>The lawful basis for both processing this data is to comply with statutory requirements.</div>
<div>As a condition of use fo the DAS Support console you must therefore give your consent for this data to be collected and processed.</div>


@*/*
https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/whats-new/
Legal Basis : https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/lawful-basis-for-processing/
https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/
The right to be informed
The right of access
The right to rectification
The right to erasure
The right to restrict processing
The right to data portability
The right to object
Rights in relation to automated decision making and profiling.


https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/accountability-and-governance/data-protection-officers/
Who to contact

*/*@

<hr />
